.login-button {
  background-color: orange;
  border-radius: 50px;
  padding: 1em;
  width: 25%;
  border: none;
  color: white;
}

.login-button:hover {
  background-color: rgb(250, 199, 104);
  cursor: pointer;
}
